@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-display: swap;
  font-weight: 200 1000;
  src: url(./files/nunito.woff2) format("woff2-variations");
  unicode-range: U+0000-00FF, U+0100-017F;
}
